.contributors-container {
  .container {
    .row {
      .contributor {
        .thumbnail {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            border-radius: 5px;
          }
        }
      }
    }
  }
}