.modal {
  .modal-body {
    width: 500px;
    height: auto;
    top: 0px;

    .header {
      margin-bottom: 25px;
    }

    .modal-body-content {
      .post-item {
        margin: 10px 0px;

        .DateInput_input__focused {
          border-bottom: 2px solid #41b7d8;
        }

        .DayPickerKeyboardShortcuts_show__bottomRight::before {
          border-right: 33px solid #41b7d8;
        }

        .SingleDatePickerInput_clearDate__default {
          background: transparent;
          border-radius: 0px;
        }
      }

      .save-post-container {
        margin-top: 15px;
        button {
          margin-right: 10px;
        }
      }
    }
  }
}

/*#41b7d8*/