.page-header {
  .intro-header {
    .container-fluid {
      .row {
        justify-content: center;

        .site-heading {
          padding: 0px;
          margin: 100px 0px 20px;
        }
      }
    }
  }
}